*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 0vmin;
}
header span{
    position: sticky;
    top: 0;
    width: 100%;
    /* border: 5px dashed crimson; */
    z-index: 1;
}
.container {
    position: absolute;
    top: 0;
    border: 1px dashed crimson;
    width: 100%;
    height: 100vh;
}
.cartesianCoord {
    /* border: 3px solid cornflowerblue; */
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, auto));

}
.cell-unit {
    height: 10vh;
    /* aspect-ratio: 1/1; */
    border: 1px dashed cornflowerblue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.label {
    font-size: 1em;
    position: absolute;
    /* border-bottom: 3px solid black; */
    /* border-right: 3px solid black; */
}
.marker {
    height: 0;
    width: 0;
    border-top: 0px solid black;
    border-bottom: 15px solid black;
    border-left: 15px solid transparent;
}
.colored {
    background: powderblue;
}